
/*
	Define tamanho padrão para imagens da seção "Equipe".
*/
#equipe > div > img{
	width: 50%;
}

/*
	Define tamanho padrão para imagens da seção "".
*/
#equipe > div > img{
	width: 50%;
}

.vertical-center{
	top: 50% !important;
}

body {
	font-family: 'Roboto', sans-serif !important;
}

.page-footer{
	margin-top: 20px;
}